@font-face {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/rubik/rubik-400.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/rubik/rubik-700.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: flex;
  block-size: 8px;
  justify-content: center;
  align-items: center;
  background-color: #FFC700;
  color: #000000;
  border: none;
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: block-size 50ms ease-in;
}
.button:hover,
.button:focus {
  block-size: 40px;
  transition: background-color 50ms ease-out;
}
.button:active {
  background-color: #FFE17F;
  transition: block-size 50ms ease-in, background-color 50ms ease-in;
}
.button:focus {
  outline-color: transparent;
  outline: 2px #AF4FFF solid;
}
.page {
  block-size: 100%;
  font-family: rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.page__body {
  min-block-size: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  background-color: #FFFFFF;
  color: #000000;
}
.main-header__wrapper {
  inline-size: 1160px;
  margin-inline: auto;
  background-color: #FFE17F;
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
}
.main-header__logo {
  margin: 0;
  margin-block: -22px 30px;
  -webkit-margin-start: 60px;
          margin-inline-start: 60px;
}
.logo {
  display: inline-block;
}
.logo__icon {
  display: block;
  fill: #000000;
  transition: fill-opacity 50ms ease-out;
}
.logo__icon {
  display: block;
  fill: #000000;
  transition: fill-opacity 50ms ease-out;
}
.logo:hover .logo__icon {
  fill-opacity: 0.6;
}
.logo:active .logo__icon {
  fill-opacity: 0.3;
}
.logo:focus .logo__icon {
  outline: none;
  border: 2px #AF4FFF solid;
}
.main-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-nav__list {
  margin-inline: 60px;
}
.main-nav a {
  color: #000000;
  text-decoration: none;
}
.main-nav a:hover {
  opacity: 0.6;
}
.main-nav a:hover svg {
  fill-opacity: 0.6;
}
.main-nav a:active {
  opacity: 0.3;
}
.main-nav a:active svg {
  fill-opacity: 0.3;
}
.main-nav a:focus {
  outline: 2px #AF4FFF solid;
}
.user-nav {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
.user-nav__list {
  margin: 0;
  margin-block: 5px;
  padding: 0;
  list-style-type: none;
}
.user-nav__item {
  position: relative;
}
.user-nav__item a:has(.user-nav__icon) {
  -webkit-padding-start: 24px;
          padding-inline-start: 24px;
}
.user-nav__icon {
  position: absolute;
  inset: 9px 9px 9px 0;
}
.user-seach {
  display: flex;
  align-items: center;
  min-inline-size: 517px;
  font-size: 16px;
  line-height: 20px;
}
.user-seach__input {
  flex-grow: 1;
  padding-inline: 48px 0;
  padding-block: 8px;
  background-color: transparent;
  background-image: url("../img/seach.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left 16px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}
.user-seach__input:focus {
  outline: 2px #AF4FFF solid;
  outline-offset: 2px;
}
.user-seach__button {
  inline-size: 160px;
  block-size: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  -webkit-border-start: none;
          border-inline-start: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: background-color 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
}
.user-seach__button:hover,
.user-seach__button:active {
  background-color: #000000;
  color: #FFFFFF;
}
.user-seach__button:active {
  opacity: 0.3;
  background-color: #000000;
}
.user-seach__button:focus {
  outline: 2px #AF4FFF solid;
  outline-offset: 2px;
}
.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
  align-items: center;
}
.user-list__cart .user-nav__icon {
  inset: 6px 12px 10px 0;
}
.user-list__cart a::before {
  display: flex;
  position: absolute;
  z-index: 2;
  content: "2";
  inline-size: 21px;
  block-size: 21px;
  justify-content: center;
  align-items: center;
  left: -16px;
  top: 4px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
}
.user-login {
  min-inline-size: 231px;
}
.user-login--sign-in .user-login__item--sign-out {
  display: none;
}
.user-login--sign-out .user-login__item--sign-in {
  display: none;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}
.site-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-list {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  align-items: center;
}
.site-list__item {
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.nav-catalog {
  display: flex;
  position: relative;
}
.nav-catalog:focus-within {
  outline-color: transparent;
  outline: 2px #AF4FFF solid;
}
.nav-catalog__button {
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.nav-catalog__toggle {
  inline-size: 50px;
  block-size: 50px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}
.nav-catalog__button:focus,
.nav-catalog__toggle:focus {
  outline-color: transparent;
}
.nav-catalog__icon {
  fill: #000000;
  fill-opacity: 0.3;
}
.nav-catalog__icon--opened {
  display: none;
}
.nav-catalog__button + .nav-catalog__toggle {
  -webkit-margin-start: 7px;
          margin-inline-start: 7px;
}
.nav-catalog__button:hover + .nav-catalog__toggle,
.nav-catalog__button:active + .nav-catalog__toggle {
  border-color: #000000;
  opacity: 1;
}
.nav-catalog__button:hover + .nav-catalog__toggle .nav-catalog__icon,
.nav-catalog__button:active + .nav-catalog__toggle .nav-catalog__icon {
  fill-opacity: 1;
}
.nav-catalog__toggle:hover,
.nav-catalog__toggle:active {
  border-color: #000000;
  opacity: 1;
}
.nav-catalog__toggle:hover .nav-catalog__icon,
.nav-catalog__toggle:active .nav-catalog__icon {
  fill-opacity: 1;
}
.nav-catalog__main-list {
  display: none;
  inline-size: 1100px;
  max-block-size: 180px;
  position: absolute;
  z-index: 2;
  top: 52px;
  left: -60px;
  margin: 0;
  -webkit-padding-start: 60px;
          padding-inline-start: 60px;
  padding-block: 14px 27px;
  list-style-type: none;
  background-color: #FFE17F;
}
.nav-catalog:focus-within .nav-catalog__main-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.nav-catalog:focus-within .nav-catalog__icon--closed {
  display: none;
}
.nav-catalog:focus-within .nav-catalog__icon--opened {
  display: inline-block;
  text-align: center;
  -webkit-padding-after: 3px;
          padding-block-end: 3px;
}
.nav-catalog__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-inline-size: 181px;
  min-block-size: 120px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer {
  background-color: #444444;
}
.page-footer a {
  color: #F0F0F0;
  text-decoration: none;
}
.page-footer__wrapper {
  inline-size: 1160px;
  display: grid;
  grid-template-columns: 236px 1fr 175px;
  margin-inline: auto;
}
.page-footer__logo {
  display: block;
  margin-block: 62px 35px;
}
.page-footer__logo .logo__icon {
  fill: #FFC700;
}
.page-footer__address {
  position: relative;
  margin: 0;
  -webkit-margin-after: 148px;
          margin-block-end: 148px;
  text-align: left;
  color: #F0F0F0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.page-footer__address::after {
  position: absolute;
  content: "";
  inline-size: 80px;
  block-size: 7px;
  left: 0;
  top: 100px;
  background-color: #FFC500;
}
.page-footer__nav {
  display: flex;
  flex-direction: column;
  gap: 62px;
  align-items: center;
  margin-block: 137px 61px;
}
.page-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer__link {
  position: relative;
}
.page-footer__link:hover {
  color: #FFC700;
}
.page-footer__link:hover.page-footer__link::after {
  position: absolute;
  content: "";
  inline-size: 100%;
  block-size: 2px;
  left: 0;
  top: 25px;
  background-color: #FFC700;
}
.page-footer__link:active,
.page-footer__link:active.page-footer__link::after {
  opacity: 0.3;
}
.page-footer__link:focus {
  border: 2px violet solid;
  outline: none;
}
.page-footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer__phone {
  display: block;
  margin: 0;
  margin-block: 140px 63px;
  text-align: right;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.page-footer__phone:hover {
  color: #FFC700;
}
.page-footer__phone:active {
  opacity: 0.3;
}
.page-footer__phone:focus {
  border: 2px #AF4FFF solid;
}
.page-footer__copyright {
  display: block;
  margin: 0;
  text-align: right;
}
.page-footer__copyright svg {
  fill: #FFC700;
}
.page-footer__copyright:hover svg {
  fill: #FFFFFF;
}
.page-footer__copyright:active svg {
  opacity: 0.3;
}
.page-footer__copyright:focus svg {
  border: 2px violet solid;
}
.footer-list {
  gap: 35px;
}
.social {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.social__link {
  inline-size: 40px;
  block-size: 40px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link:hover,
.social__link:active {
  background-color: #FFC500;
}
.social__icon {
  fill: #444444;
}
.social__link:active .social__icon {
  fill: rgba(68, 68, 68, 0.3);
}
.social__link:focus {
  outline: 2px #AF4FFF solid;
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */
